/* carousel image-wrapper*/

#img-wrapper {
   height: 350px;
}

#img-wrapper img {
   display: none;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

#img-wapper img.active {
   display: block;
}